$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);
$black: hsl(0, 0%, 7%);

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body {
    font-family: "Figtree", sans-serif;
    background-color: $yellow;
}

main {
    @include flexCenter();
}

.mainContainer {
    @include flexCenter();
    align-items: flex-start;
    border: 1.5px solid black;
    box-shadow: 8px 8px;
    border-radius: 20px;
    background-color: $white;
    padding: 22px;
    margin: 290px auto;
    width: 280px;
}

div {
    margin-bottom: 20px;
    height: 205px;
}

svg {
    max-width: 100%;
    border-radius: 10px;
}

button {
    background-color: $yellow;
    border: 0 solid transparent;
    border-radius: 5px;
    font-weight: 800;
    width: 75px;
    height: auto;
    padding: 6px;
    margin: 0;
    font-size: 11px;
    cursor: pointer;
}

h1 {
    color: black;
    padding: 2px 0 5px 0;
    font-weight: 800;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: $black;
    font-weight: 800;
    font-size: 20px;
    &:hover {
        color: $yellow;
    }
}

p {
    color: $grey;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 23px;
    font-size: 14px;
}

figure {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0;
}

img {
    width: 32px;
    height: auto;
}

figcaption {
    font-weight: 800;
    font-size: 14px;
}

footer {
    position: absolute;
    right: 10px;
    a {
        color: blueviolet;
        &:hover {
            color: $black;
        }
    }
}

@media screen and (min-width: 1024px) {
    .mainContainer {
        width: 338px;
        margin: 240px auto;
        button {
            margin-top: 0;
            width: 82px;
            font-size: 13px;
        }

        h1 {
            padding: 2px 0 5px 0;
            font-weight: 800;
            font-size: 14px;
        }

        a {
            font-size: 24px;
        }

        p {
            font-size: 16px;
        }
    }
}